.mi-rectangulo {
    width: 1296px;
    height: 30px;
    background-color: #255538;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.mi-rectangulo button {
    background-color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 30px;
    cursor: pointer;
  }

.bitcook-text {
    font-size: 18px;
    font-weight: bold;
    color: #fff; /* Color inicial */
    transition: color 0.3s; /* Transición de color al interactuar */
    cursor: pointer;
}
.bitcook-text:hover {
    color: #d68080; /* Color al pasar el ratón por encima */
}

.enviar-text {
    font-size: 9px;
    font-weight: 2px;
    color: #fff; 
    transition: color 0.3s; 
    cursor: pointer;
    justify-content: space-between;
}
.enviar-text:hover {
    color: #d68080;
}



body {
    background-color: #F3E5D8;
    
}

