body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F3E5D8
    ;
}
* {
    box-sizing: border-box;
    margin: 0
}

#grid-container1 {
    display: grid;
    gap: 1rem;
    margin: 10px auto 0 auto;
    max-width: 1280px;
    overflow: hidden;
    grid-template-rows: auto 1fr 100px;
    grid-template-columns: 0.2fr 1fr 1fr 1fr 0.2fr;
    
}

#navegador {

    background-color: #255538;
    border-radius: 6px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    grid-area: 1/ 1 / 2 / 6;
}
#navegador button {
    background-color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 30px;
    cursor: pointer; 
  }
  
  
.bitcook-text {
  margin-right: auto;
    font-size: 18px;
    font-weight: bold;
    color: #fff; 
    transition: color 0.3s; 
    cursor: pointer;
}
.bitcook-text:hover {
    color: #d68080; 
}
.enviar-text {
    margin-right: 5px;
    font-size: 9px;
    font-weight: 2px;
    color: #fff; 
    transition: color 0.3s; 
    cursor: pointer;
}
.enviar-text:hover {
    color: #d68080;
}
.imagen1 {
    background-image: url(../images/5a80e6e1cd7c7ea0f50d200b0ad11587.png);
    background-position: center;
    padding: 100px;
    background-size: cover; 
    height: auto;
    font-size: large;
    text-align: left;
    border-radius: 5px;
    color: #ffffff;
    grid-area: 2 / 2 / 3 / 5;
}
.best-recipes {
  font-family: DM Serif Display;
  font-size: 1.7rem;
  margin-top: 30px;
  color: #7E4333;
  grid-area: 3 / 2 / 4 / 3;
}
 .recipe-card {
    border-radius: 5px;
    background: white;
   display: block;
 }

.recipe-card:hover {
    
    cursor: pointer;
}
.recipe-card  img {
  
  border-radius: 5px;
  margin: 5px 5px 0 5px;
  width: 346px;
  height: 200px;
  object-fit: cover;
  object-position: center;
    }
    
    
    #recipe1 {
      grid-area: 4 / 2 / 5 / 3;
    }
    
    #recipe2 {
      grid-area: 5 / 2 / 6 / 3;
    }
    
    #recipe3 {
      grid-area: 4 / 3 / 5 / 4;
    }
    
    #recipe4 {
      grid-area: 5 / 3 / 6 / 4;
    }
    
    #recipe5 {
      grid-area: 4 / 4 / 5 / 5;
    }
    
    #recipe6 {
      grid-area: 5 / 4 / 6 / 5;
    }

  .recipe-header {
    color: #7E4333;
    grid-column: span 12;
    grid-row: 1;
    flex-direction: column;
    justify-content: space-between;
    

  }
  
  .recipe-title {
    grid-column: span 12;
    grid-row: 1;
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
    position: relative;
    left: 5px;
  }
  
  .recipe-time {
    grid-column: span 12;
    grid-row: 2;
    margin: 0;
    font-size: 0.875rem;
    position: relative;
    left: 5px;
    
  }
  
  .recipe-image {
    grid-column: span 12;
    grid-row: 3;
    height: 100%;
    overflow: hidden;
    border-radius: 0.25rem;
    
  }
  
  #footer {
    background-color: #255538;
    border-radius: 6px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    grid-area: 6 / 1 / 7 / 6;
  }
  .bit {
    color: white;
  }
  
  .dark-mode {
    .recipe-card {
      background-color: #1f1f1f;
    }
    .recipe-header {
      color: #fff;
    }
    .best-recipes {
      color: #fff;
    }
    background-color: #000000;
    color: #f1eded;
  }
  
  .dark-mode.white-bg {
    background-color: #333333;
  }
  
  @media screen and (min-width: 481px) and (max-width: 768px) {
      #navegador {
        grid-area: 1/ 1 / 2 / 5;
      }
        .imagen1 {
          grid-area: 2/2/3/4;
        }
        .best-recipes {
          grid-area: 3 / 2 / 4 / 3;
        }

        #recipe1 {
          grid-area: 4 / 2 / 5 / 3;
        }
        
        #recipe2 {
          grid-area: 5 / 2 / 6 / 3;
        }
        
        #recipe3 {
          grid-area: 4 / 3 / 5 / 4;
        }
        
        #recipe4 {
          grid-area: 5 / 3 / 6 / 4;
        }
        
        #recipe5 {
          grid-area: 6 / 2 / 7 / 3;
        }
        
        #recipe6 {
          grid-area: 6 / 3 / 7 / 4;
        }
        #footer {
          
          grid-area: 7 / 1 / 8 / 5;
        }
}


@media (max-width: 480px) {
  #navegador {
    grid-area: 1/ 1 / 2 / 4;
  }
    .imagen1 {
      grid-area: 2/2/3/3;
    }
    .best-recipes {
      grid-area: 3 / 2 / 4 / 3;
    }

    #recipe1 {
      grid-area: 4 / 2 / 5 / 3;
    }
    
    #recipe2 {
      grid-area: 5 / 2 / 6 / 3;
    }
    
    #recipe3 {
      grid-area: 7 / 2 / 8 / 3;
    }
    
    #recipe4 {
      grid-area: 8 / 2 / 9 / 3;
    }
    
    #recipe5 {
      grid-area: 9 / 2 / 10 / 3;
    }
    
    #recipe6 {
      grid-area: 10 / 2 / 11 / 3;
    }
    #footer {
      
      grid-area: 11 / 1 / 12 / 4;
    }
}






