body {
    font-family: DM Sans;
    margin: 0;
    padding: 0;
    background-color: #F3E5D8
    ;
}
* {
    box-sizing: border-box;
    margin: 0
}
/*pagina de informacion de receta*/
#grid-container2 {
    display: grid;
    gap: 1rem;
    margin: 10px auto 0 auto;
    max-width: 1280px;
    overflow: hidden;
    grid-template-rows: auto ;
    grid-template-columns: 0.2fr 1fr 1fr 1fr 0.2fr;
    
  }
  #navegador {

    background-color: #255538;
    border-radius: 6px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    grid-area: 1/ 1 / 2 / 6;
}
#navegador button {
    background-color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 30px;
    cursor: pointer; 
  }
  
  
.bitcook-text {
  margin-right: auto;
    font-size: 18px;
    font-weight: bold;
    color: #fff; 
    transition: color 0.3s; 
    cursor: pointer;
}
.bitcook-text:hover {
    color: #d68080; 
}
.enviar-text {
    margin-right: 5px;
    font-size: 9px;
    font-weight: 2px;
    color: #fff; 
    transition: color 0.3s; 
    cursor: pointer;
}
.enviar-text:hover {
    color: #d68080;
}
.dark-mode {
  .about-recipe {
    background-color: #2F2F2F;
  }
  .titleingrdient {
    color: #ffffff;
  }
  .recipeheader{
    color: #ffffff;
  }
    .recipe-inf {
      background-color: #2F2F2F;
    }
    .titletime {
      color: #ffffff;
    }
    .Preparationtime{
      background-color: #4E4D4E;
    }
    .titleintruccion {
      color: #ffffff;
    }
    .Nutricion {
      color: #ffffff;
    }
    .row {
      border-bottom: 2px solid #ffffff;
    }
    .numnutri {
      color: #ffffff;
    }
    .morerecip {
      background-color: #2F2F2F;
    }
    .more-recipe {
      color: #ffffff;
    }
    .recipe {
      background-color: #2F2F2F ;
    }
    
    background-color: #000000;
    color: #f1eded;
  }
  
  
  .dark-mode.white-bg {
    background-color: #333333;
  }
  .recipeheader {
    color: #7E4333;
    grid-column: span 12;
    
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
  }
  .recipe-inf {
    border-radius: 5px;
    background: white;
   
   overflow: hidden;
   width: 100%;
   
 }
  .recipe-inf  img {
    border-radius: 5px;
    margin: 20px 20px 0 20px;
    width: 683.2px;
    height: 250px;
    object-fit: cover;
    object-position: center;
      }
  .recipe-inf{
    overflow: hidden;
    grid-area: 2/2/5/4;
  } 
  .recipetitle {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
    position: relative;
    left: 20px;
  }
  
  .recipeintro {
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    top: 10px;
    font-size: 0.95rem;
    
  }
  .recipetime{
    font-size: 0.875rem;
    position: relative;
    left: 5px;
    justify-content: space-between;
  position: relative;
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 30px;
  margin-left: 5px;
  }
  .titletime {
      color:#7E4333;
      grid-column: span 12;
  grid-row: 1;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  top: 20px;
  margin-top: 20px;
  left: 20px;
      
    }
  .Preparationtime{
    height: 130px;
    margin: 20px;
    border-radius: 5px;
    background-color: #FFF7FC;
    
  }
  .titleintruccion {
    color:#7E4333;
      grid-column: span 12;
  grid-row: 1;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  }
  .recipeintruccion {
    justify-content: space-between;
    position: relative;
    top: 10px;
    margin-top: 10px;
  }
  .instruccionesrecipe {
    margin: 20px;
  }
  .about-recipe {
    border-radius: 5px;
    background-color: #ffffff;
    grid-area: 2 / 4 / 3 / 5;
  }

  .titleingrdient {
    margin: 10px 20px ;
    color:#7E4333;
  }
  .Nutricion {
    margin: 20px 20px ;
    color:#7E4333;
  }
  .row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #7E4333;
    margin: 20px;
  }
  .numnutri {
    color: #7E4333;
    font-weight: bold;
  }
  .morerecip {
    border-radius: 5px;
    grid-area: 3/4/4/5;
    background-color: #ffffff;
  }
  .more-recipe {
    color: #7E4333;
    margin: 20px;
  }
  .recipe {
    margin: 0 10px 10px 0;
    border-radius: 5px;
    background: white;
    overflow: hidden;
   display: block;
  }
  .recipe:hover {
    background-color: #1ee46a;
   cursor: pointer;
  } 
  .recipe img {
    float: left;
    border-radius: 5px;
    margin: 0 20px 20px 20px ;
  width: 80px;
  height: 80px;
  object-fit: cover;
  object-position: center;
  }
  .txt-recip {
    position: relative;
  top: 20px;
  }
  #footer2 {
  background-color: #255538;
    border-radius: 6px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    grid-area: 5 / 1 / 6 / 6;
}
  @media screen and (min-width: 481px) and (max-width: 768px) {
    #grid-container2 {
      grid-template-columns: 0.2fr 1fr 1fr 0.2fr;
    }
    #navegador {
      grid-area: 1/ 1 / 2 / 5;
    }
    .recipe-inf {
      grid-area: 2/ 2 / 6 / 4;
    }
    .recipe-inf  img {
      border-radius: 5px;
      margin: 20px 20px 0 20px;
      width: 530px;
      height: 250px;
      object-fit: cover;
      object-position: center;
        }
    .about-recipe {
      grid-area: 6 / 2 / 7 / 4;
    }
    .morerecip {
      grid-area: 7 / 2 / 8 / 4;
    }

    #footer2 {
      grid-area: 8 / 1 / 9 / 5;
    }
}

@media (max-width: 480px) {
  #grid-container2 {
    grid-template-columns: 0.2fr 1fr 0.2fr;
  }
  #navegador {
    grid-area: 1/ 1 / 2 / 4;
  }
  .recipe-inf {
    grid-area: 2/ 2 / 6 / 3;
  }
  .recipe-inf  img {
    border-radius: 5px;
    margin: 20px 20px 0 20px;
    width: 260px;
    height: 150px;
    object-fit: cover;
    object-position: center;
      }
  .about-recipe {
    grid-area: 6 / 2 / 7 / 3;
  }
  .morerecip {
    grid-area: 7 / 2 / 8 / 3;
  }

  #footer2 {
    grid-area: 8 / 1 / 9 / 4;
  }
}



